.sampleDetail {
    padding-top: 30px;
    text-align: center;

    .sampleDetail__title-area {
        display: flex;
        justify-content: center;
        align-items: center;

        .sampleDetail__title {
            margin-left: 5px;
        }
    }

    .sampleDetail__card {
        margin-top: 30px;
    }
}